<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 justify-content-center">
  <div class="col-md-7 justify-content-center blog_list">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p class="italicized">Posted by <span class="bold">{{blog.user.user_name}}</span> on {{format_date blog.date_created}}</p>
  </div>
  {{!-- <div class="col-md-7">
    <p>
      {{blog.body_content}}
    </p>
  </div> --}}
</div>
{{/each}}
